*{
    margin:0px;
    padding:0px;
}
body{
    background: #6fa578;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    width: 90%;
    margin: 0px auto;
}
header h1{
    background: #958973;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    color: #bad4ae;
    border-bottom: 10px solid #bad4ae;
    font-size: 50px;
}
nav{
    background: #958973;
    height: 50px;
    border-bottom: 5px solid #6fa578;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    color: #bad4ae;
    font-size: 20px;
    line-height: 30px;
}
.clear{
    clear: both;
}
#contenido{
    float: left;
    width: calc(80% - 80px);
    min-width: 500px;
    background: #b1a38b;
    padding: 20px;
    border: #000 solid 2px;
}
.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 300px;
    background: #b1a38b;
    padding: 10px;
}
footer{
    background: #958973;
    color: #6fa578;
    text-align: center;
    height: 50px;
    line-height: 50px;
}