/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo{
    color: blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/*header*/
header{
    width: 100%;
    height: 600px;
    background: #11998e; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7e93, #11998e7a), url(../img/header-img1.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7e93, #11998e7a), url(../img/header-img1.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*¿Que nos diferencia del resto?*/
main .sobre-nosotras{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotras{
    display: flex;
    justify-content: space-evenly;
}
.imagen-about-us{
    width: 48%;
    height: 600px;
}
.sobre-nosotras .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: #6fa578;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*Imágenes*/
.imagenes{
    background: #f2f2f2;
}
.galeria-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-img{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: #000;
}
.imagen-img:hover .hover-galeria{
    transform: scale(1);
    background: #bad4aeb7;
}
/*¿Quienes somos?*/
.cards{
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
    background: #6fa578;
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}
.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}
.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}
/*Nuestros productos*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;
}
.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}
/*footer*/
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #6fa578;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/*Parte responsive*/
@media screen and (max-width: 900px){
    /*general*/
    header{
        background-position: center;
    }
    /*¿que nos diferencia del resto?*/
    .contenedor-sobre-nosotras{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-sobre-nosotras .contenido-textos{
        width: 90%;
    }
    .imagen-about-us{
        width: 60%;
        height: 500px;
        margin-bottom: 50px;
    }
    /*Imagenes*/
    .imagen-img{
        width: 44%;
    }
    /*¿quienes somos?*/
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .cards .card{
        width: 90%;
        margin-bottom: 10px;
    }
    /*nuestros productos*/
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }
    .servicio-ind{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }
    .servicio-ind img{
        width: 90%;
    }
    /*footer*/
    .contenedor-footer{
        flex-direction: column;
        justify-content: center;
    }
    .content-foo:nth-child(1), .content-foo:nth-child(2){
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 500px){
    /*header*/    
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header h2{
        font-size: 20px;
    }
    /*¿que nos diferencia de l resto?*/
    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
        height: 400px;
    }
    .sobre-nosotras .contenido-textos{
        justify-content: center;
        width: 100%;
    }
    /*Imagenes*/
    .imagen-img{
        width: 95%;
    }
    /*¿quienes somos?*/
    .cards .card{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*footer*/
    .titulo-final{
        font-size: 20px;
    }
}